<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to my portfolio</h1>
        <p>I am a student aspiring to start a career in IT as a DevOps or Linux administrator</p>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="#about">About me</a></li>
                <li><a href="#project1">Project 1</a></li>
                <li><a href="#project2">Projct 2</a></li>
            </ul>
        </nav>
    </main>

    <footer>
        <p>© 2025 Maciej Stefanowicz. All rights reserved.</p>
    </footer>
</body>
</html>
