<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Wizytówka</title>
</head>

<body>

    <header>
        <h1>Maciej Stefanowicz</h1>
        <p>Developer</p>
    </header>

    <nav>
        <a href="#aboutMe">O mnie</a>
        <a href="#contact">Kontakt</a>
    </nav>

    <main>
        <section id="aboutMe">
            <h2>O mnie</h2>
            <p>Cześć, mam na imię Maciej, jestem studentem CDV i chcę rozpocząć prace w branży IT.</p>
        </section>

        <section id="cwiczenie1">
            <h2>Zmiana treści elementu po kliknięciu</h2>
            <div id="paragraf">Początkowy tekst</div>
            <button onclick="zmienTekst()">Zmień tekst</button>
            <script>
                // Funkcja zmieniająca treść elementu
                function zmienTekst() {
                    const element = document.getElementById('paragraf');
                    element.textContent = "Tekst został zaktualizowany!";
                }
            </script>

        </section>

        <section id="cwiczenie2">
            <h2>Formularz reagujący na zmiany</h2>
            <input type="text" id="poleTekstowe" placeholder="Wpisz coś...">
            <div id="wynik"></div>
            <script>
                // Nasłuchiwanie zdarzenia input i aktualizacja treści elementu "wynik"
                document.getElementById('poleTekstowe').addEventListener('input', function (e) {
                    document.getElementById('wynik').textContent = "Aktualna wartość: " + e.target.value;
                });
            </script>
        </section>

        <section>
            
        </section>

        <section id="contact">
            <h2>Kontakt</h2>
            <from action="submint_from.php" methotd="post">
                <label for="name">Imię i nazwisko</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email</label>
                <input type="text" id="email" email="email" required>

                <label for="message">Wiadmość</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submin">Wyślij</button>

            </from>
        </section>



    </main>


    <footer>
        <p>&copy; 2025 Maciej Stefanowicz. Wszelkie prawa zastrzeżone.</p>
    </footer>

</body>

</html>