<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Contact Me</title>
    <link rel="stylesheet" href="/static/style.css" >
    <link rel="stylesheet" href="/static/contact.css" >
</head>
<body>
    <header class="main-header">
        <nav class="nav-container">
            <a href="/" class="nav-button">Home</a>
            <a href="/about" class="nav-button">About me</a>
            <a href="/projects" class="nav-button">Projects</a>
            <a href="/contact" class="nav-button active">Contact Me</a>
        </nav>
    </header>

    <section class="contact-section" style="margin-top: 40px;">
        <div class="contact-text">
            <h2>Get in touch!</h2>
            <p>
                Feel free to contact me anytime. Whether you’ve got a challenge, an idea,
                or just want to say hello, I’m happy to answer your message and look forward
                to hearing from you!
            <p class="phone-number">
                📞 Phone: +48 123 456 789
            </p>
        </div>

        <div class="contact-card">
            <form action="https://formspree.io/f/xpwdyrwk" method="POST" id="contactForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required autocomplete="name">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required autocomplete="email">
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6" required></textarea>
                </div>

                <button type="submit" class="btn-accent">Send Message</button>
            </form>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Maciej Stefanowicz. All rights reserved.</p>
    </footer>
</body>
</html>
