<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/contact.css">
</head>
<body>
    <header>
        <h1>{{.Title}}</h1>
    <div class="nav-container">
        <a href="/" class="nav-button">Home</a>
        <a class="nav-button" href="/about">About me</a>
        <a class="nav-button" href="/project1">Project 1</a>
        <a class="nav-button" href="/project2">Project 2</a>
        <a class="nav-button" href="/contact">Contact Me</a>
    </div>
    </header>

    <section style="margin-top: 40px;">
        <div class="contact-card">
            <form action="https://formspree.io/f/xpwdyrwk" method="POST" id="contactForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required autocomplete="name">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required autocomplete="email">
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6" required></textarea>
                </div>

                <button type="submit" class="nav-button">Send Message</button>
            </form>
        </div>
    </section>
</body>
</html>
