<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <!-- Visit counter -->
    <div class="visit-counter">
        Visits: {{ .Visits }}
    </div>

    <div class="social-links">
        <a href="https://github.com/mStefn" target="_blank" class="social-button">
            <img src="/static/github-icon.svg" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/maciej-stefanowicz/" target="_blank" class="social-button">
            <img src="/static/linkedin-icon.svg" alt="LinkedIn">
        </a>
    </div>

    <a href="/static/Maciej Stefanowicz CV.pdf" download class="nav-button cv-download">Download CV</a>

    <!-- Navigation buttons -->
    <div class="nav-container">
        <a class="nav-button" href="/about">About me</a>
        <a class="nav-button" href="/project1">Project 1</a>
        <a class="nav-button" href="/project2">Project 2</a>
        <a class="nav-button" href="/contact">Contact Me</a>
    </div>

<main class="home-layout">
    <div class="left-content">
        <div class="header-text">
            <h1>Hi! I'm Maciej Stefanowicz – welcome to my portfolio.</h1>
        </div>
    </div>

    <div class="right-image">
        <img src="/static/background.png" alt="Illustration" />
    </div>
</main>


    <footer>
        <p>&copy; 2025 Maciej Stefanowicz. All rights reserved.</p>
    </footer>
</body>
</html>
