<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="main-header">
        <nav class="nav-container">
            <a href="/" class="nav-button active">Home</a>
            <a href="/about" class="nav-button">About me</a>
            <a href="/project1" class="nav-button">Project 1</a>
            <a href="/project2" class="nav-button">Project 2</a>
            <a href="/contact" class="nav-button">Contact Me</a>
        </nav>
    </header>
    <main>
        <div class="content-container">
            <h2></h2>
            <p>Work in progress.</p>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Maciej Stefanowicz. All rights reserved.</p>
    </footer>
</body>
</html>
