<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>{{.Title}}</h1>
    <div class="nav-container">
        <a href="/" class="nav-button">Home</a>
        <a class="nav-button" href="/about">About me</a>
        <a class="nav-button" href="/project1">Project 1</a>
        <a class="nav-button" href="/project2">Project 2</a>
        <a class="nav-button" href="/contact">Contact Me</a>
    </div>
    </header>
    <main>
        <div class="content-container">
            <h2></h2>
            <p>This is a simple portfolio app built with Go and HTML/CSS.</p>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Maciej Stefanowicz. All rights reserved.</p>
    </footer>
</body>
</html>
