<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/projects/projects.css">
</head>
<body>
    <header class="main-header">
        <nav class="nav-container">
            <a href="/" class="nav-button">Home</a>
            <a href="/about" class="nav-button">About me</a>
            <a href="/projects" class="nav-button active">Projects</a>
            <a href="/contact" class="nav-button">Contact Me</a>
        </nav>
    </header>

    <main>
        <section class="project-gallery">
            <div class="project-card">
                <a href="/project1">
                    <img src="/static/images/Portfolio-Image.png" alt="Portfolio preview">
                </a>
                <h3>Portfolio</h3>
                <p>Portfolio app with GitHub Actions.</p>
            </div>

            <div class="project-card">
                <a href="/gym-tracker">
                    <img src="/static/images/GymTracker-Image.png" alt="Gym Tracker preview">
                </a>
                <h3>Gym Tracker</h3>
                <p>Workout tracking application built with Go, PostgreSQL, and Docker.</p>
            </div>

            <div class="project-card">
                <a href="/project3">
                    <img src="/static/images/AI-Server-Image.png" alt="Local AI Server preview">
                </a>
                <h3>Local AI Server</h3>
                <p>Self-hosted AI server powered by Arch Linux, Nvidia GPU, and Qwen SLM.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2026 Maciej Stefanowicz. All rights reserved.</p>
    </footer>
</body>
</html>